<% include header %>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
    
<ul class="nav navbar-nav">
<li><a href="#"><strong>Busireddy Shivani</strong></a></li>
    <li><a href="/"><strong> Homepage</strong></a></li>
   <li><a href="/about"><strong> Health Checker</strong></a></li>
  <li><a href="/contact"><strong>Contact</strong></a></li>
  <li  class="active"><a href="/guestbook"><strong>Guestbook</strong></a></li>

  </ul>
</div>


</nav>
<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= entry.published %></div>
<%= entry.title %></div>

<div class="panel-body">
<%= entry.content %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>
