<head>
        <title>Contact</title>
        <link rel="stylesheet"
            href="shivani.css" />
            <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body  class="bg">
            <nav class="navbar navbar-inverse">
                    <ul class="nav navbar-nav">
                        <li><a href="#"><strong>Busireddy Shivani</strong></a></li> 
                            <li ><a href="shivani.html"><strong> Homepage</strong></a></li>
                           <li><a href="shivani1.html"><strong> Health Checker</strong></a></li>
                            <li class="active"><a href="contact.html"><strong>Contact</strong></a></li>
                            <li><a href="/guestbook"><strong>Guestbook</strong></a></li>
                            
                            
                          </ul>
            
                    
                
            </nav>
        
    
    
    
</div>

<div id="nav-ul">
        <form action="shivani1.html">
                <div class="container">
                        <div class="row">
                            
            <div class="f">
                
              <label for="strt">Name:</label>
              <input type="text" class="form-control" id="sd" style="width:250px;">
            </div>
            </div>
            <div class="row">
            <div class="f">
              <label for="end">Email:</label>
              <input type="Email" class="form-control" id="ed" style="width:250px;">
            </div>
        </div>
        <br>
        <div class="row">
                <label for="cal">Message :</label>
                <input type="text" style="height:200px;width:250px;" class="form-control" id="ed">
              </div>
              <br>
              
            <div class="row">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
        <div> 
            </div>

        </div>
          </form>
<div class="container-fluid">
          <footer>
                <h1 style:>Contact Me:</h1>
                <div class="row">

                   
                       <a href="https://github.com/Shivanibusireddy">
                            <img src="imgs/github.jpg" alt="HTML tutorial" style="width:100px;height:100px;border:0;">
                          </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       
            
                          <a href="https://bitbucket.org/shivanibusireddy">
                            <img src="imgs/bitbucket.jpg" alt="HTML tutorial" style="width:100px;height:100px;border:0;">
                          </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
                        
                       
                          <a href="https://www.linkedin.com/feed/?trk=onboarding-landing">
                            <img src="imgs/linkedin.png" alt="HTML tutorial" style="width:100px;height:100px;border:0;">
                          </a>
                        
                        </div>
            </footer>
        </div>


</div>

    </body>